*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --colour-one: #425F57;
    --colour-two: #749F82;
    --colour-three: #90B77D;
    --colour-four: #C8DBBE;
    --border-one: solid 2px #483838;
}

body{
    background-color: #749F82;
}

.lilypad{
    position: absolute;
}

.dragonfly{
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(-50%, -50%);
    /*animation: moveSpecimen 3s infinite;*/
}

@keyframes moveSpecimen{
    0% {
        left: 0%;
        top: 0%;
    }
    100% {
        left: 70%;
        top: 80%;
    }
}